# Adresy RTSP kamer — wpisz lokalne dane po skopiowaniu do .env
CAM1_RTSP=rtsp://admin:TWOJE_HASLO@192.168.0.51:554/cam/realmonitor?channel=1&subtype=0
CAM2_RTSP=rtsp://192.168.0.57:554/onvif1
CAM3_RTSP=rtsp://192.168.0.50:554/onvif1

# Port serwera HLS (domyslnie 8888)
PORT=8888

# Pelna sciezka do ffmpeg (jesli nie jest w PATH)
FFMPEG_PATH=G:\parking_2026\ffmpeg-8.1-essentials_build\bin\ffmpeg.exe